{{!-- {{#each this}} --}}
 <li class="gallery__item js-gallery__item">
    <div class="photo-card js-photo-card">
        <a class="photo-card__link js-photo-card__link" href="#">
            <img class="photo-card__image js-photo-card__image"
                src="https://image.tmdb.org/t/p/w500{{poster_path}}"
                data-source="{{backdrop_path}}" alt="{{original_title}}" />
        </a>
        <div class="stats">
            <p class="stats-item">Title: {{title}}</p>
            <p class="stats-item">Vote: {{vote_average}}</p>
            <p class="stats-item">Popularity: {{popularity}}</p>
            <p class="stats-item">Original title: {{original_title}}</p>
            <p class="stats-item">genre: {{genre_ids}}</p>
            <p class="stats-item">Date of release: {{release_date}}</p>
            <p class="stats-item">Id: {{id}}</p>
            <p class="stats-item">About: {{overview}}</p>
        </div>
    </div>
</li>
{{!-- </li> {{/each}} --}}
{{!-- <p class="main__film-vote-average">{{vote_average}}</p> --}}